# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Main\Git Projects\MIP-Optimization-with-Python-and-Groubi\Compact formulation for assignment problem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
