<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.UGentMedicalStudentRosteringConnectionString"
            connectionString="Data Source=.;Initial Catalog=UGentMedicalStudentRostering;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>